<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript">
    let time_obj = undefined;
    let flag = undefined;
    window.onload = () => {
        time_obj = document.getElementById("timer");
        flag = false;
    };

    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        } else {
            flag = true;
            return false;
        }
    }

    function enterEvent(){
      send_req();
      
    }
    function send_req() {
        if (double_submit_check()) {
            return;
        }

        let chatting = document.getElementById("chat_input").value;
        

        if (chatting == '') {
            document.getElementById('warning').innerText = 'Please fill the text!';
            flag = false;
            return;
        }

        const url = "/chat";
        let start = 0;
        

        // timer

        timer = setInterval(() => {
            start += 1;
            time_obj.innerText = `${start / 10} 's`;
        }, 100);
        axios({
          url: url,
          method: 'post',
          data: {
            user: chatting
          }
        })
        .then(response => {
         clearInterval(timer);
         time_obj.innerText = 'Done!';
         flag = false;
         window.location.reload(true);
        })
        .catch(err => {
          clearInterval(timer);
          flag = false;
          document.getElementById('warning').innerText = err;
        })
    }
    </script>
    <div class="time"><span>
      <% const dateObj = new Date();
      let hours = dateObj.getHours();
      let minutes = dateObj.getMinutes();
      if (parseInt(minutes) < 10){
        minutes = "0" + minutes
      }
      let local_time = hours + ':' + minutes; %>
      <%= local_time %> </span></div>
    <% 
    let ans_count = 0;
    let usr_count = 0;
    let label_count = 0;
    for(var i=0; i < cnt; i++) {
      
      if(i % 2 == 1) { %>
    <div class="message sol">
      <div class="resim" style="background-image: url('https://png.clipart.me/previews/64b/lisa-simpson-1-40134.jpg');" ></div>
      <div class="messageText" data-time= "<%= time[i] %>" >
        <%= ans[ans_count] %>
      </div>
    </div>
    <div class="feel_lisa ">
      <%= label[label_count] %>
      </div>
    <% ans_count += 1;
      label_count += 1;
    console.log(ans_count + "ans count")}
    if(i % 2 == 0) { %>
      <div class="message sag mtLine">
      <div class="messageText" data-time="<%= time[i] %>">
        <%= user[usr_count] %>
      </div>
      <div class="resim" style="background-image: url('https://cdn.pixabay.com/photo/2016/02/22/08/51/paper-1214993_960_720.jpg');"></div>
    </div>
    
      <% usr_count += 1;} } %>
    
   
    <div class="ref">
      <h1 id="header"> Chatbot(Lisa)-Sentiment-Classification</h1>
      <p style="color: aliceblue; font-size: 25px;"> Chat with Lisa and Know her emotion!</p>
      <p style="color: aliceblue; font-size: 22px;"> Open API <a href="https://ainize.ai/EastHShin/Chatbot-Sentiment_Classification-API?branch=main">On Ainize</a></p>
      <p style="color: aliceblue; font-size: 22px;">Model Code : <a href="https://huggingface.co/EasthShin/Emotion-Classification-bert-base">Workspace</a></p>
      <p style="color: aliceblue; font-size: 22px;">Demo web Code : <a href="https://github.com/EastHShin/Chatbot-Lisa-Sentiment-Classification">Github</a></p>

      </div>
    <div class="inputBox">
      <div class="text-box">
        <textarea type="text" id="chat_input" onkeypress="if(event.keyCode==13) enterEvent()" ></textarea>
      </div>
      <div class="button-box">
        <button type="submit" class="btn btn-secondary" id="button" onclick="send_req()">Submit</button>
        <label style="color: azure">Timer:&nbsp</label><label id="timer">0.0</label><br>
        <b><label id="warning" style="color: red"></label> </b>
      </div>
    </div>

  </body>
</html>
